# Einheitliche Zeilenenden

# PowerShell
*.ps1 text eol=crlf

# Shell-Skripte
*.sh text eol=lf

# Packer Templates (JSON oder HCL2)
*.pkr.hcl text eol=lf
*.json text eol=lf

# Logfiles (nicht verändern)
*.log -text
