# Packer: temporäre und sensible Dateien ausschließen

# Build-Output
*.iso
*.ova
*.ovf
*.vhd
*.vhdx
*.qcow2
*.img
*.box

# Log-Dateien
*.log

# Temporäre Skripte und Outputs
*.bak
*.tmp
*.swp

# PowerShell Execution Output
*.ps1xml
*.psd1
*.zip

# Packer-Cache (nur bei lokalem Build relevant)
packer_cache/

# sensible daten
*.pkrvars.json